Québec, February 12, 2020 - As he committed to during the presessional caucus of the parliamentary wing of the Parti Québécois, the member for Matane-Matapédia, parliamentary leader and spokesperson for the Parti Québécois on the French language , Pascal Bérubé, today tabled in the House Bill 591, An Act to amend the Charter of the French language in order to specify under what circumstances an employer may require knowledge of &#39;a language other than the official language.
IN SHORT
“The bill we tabled this morning provides a solution to a problem that was growing in importance: the systematic requirement of English when hiring. It aims to modify the Charter of the French language in order to specify the circumstances under which an employer can require knowledge of a language other than French, the only official language in Quebec, ”Pascal Bérubé declared at the outset.
Indeed, the bill provides that in order to require knowledge or a specific level of knowledge of a language other than French, the employer must demonstrate two things: that participation in the usual activities related to the position, on the one hand , and that the accomplishment of the task, on the other hand, requires such knowledge. “Some employers used to require English because knowledge of it could be useful. From now on, they will only be able to do so if this knowledge is essential, indispensable, ”summed up the parliamentary leader of the Parti Québécois.
“When it comes to asserting the right of Quebecers to work in French, when it comes to promoting our common language and strengthening Bill 101, the Parti Québécois is always there. In the interest of all Quebecers, we invite the Minister responsible for the French language, Simon Jolin-Barrette, to quickly call for the study of Bill 591, ”concluded Pascal Bérubé.
